<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit Blog</div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        
        <div class="field">
            <label>Title: <input type="text" name="blog[title]" placeholder="Title" value="<%= blog.title %>"></label>
        </div>
        
        <div class="field">
            <label>Image: <input type="text" name="blog[image]" placeholder="Image URL" value="<%= blog.image %>"></label>
        </div>
        
        <div class="field">
            <label>Blog Content: <textarea name="blog[body]"><%= blog.body %></textarea></label>
        </div>
        
        <input class="ui violet inverted button big" type="submit" value="UPDATE">
    </form>
</div>

<% include partials/footer %>